/*font-family: "Anicons Regular", sans-serif;*/
/*font-family: "Anicons Color", sans-serif;*/

.icon {
  font-family: "Anicons Regular", sans-serif;
  font-variation-settings: "TIME" 1;
  transition: font-variation-settings 0.4s ease;
}
.icon:hover {
  font-variation-settings: "TIME" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: Inter, sans-serif !important;
}

.col-12 carbon-header {
  padding-right: 0;
}

#main-header{
    height: 100vh;
    padding-right: 0;
}
#stats{
    display: none;
}
#canvas123{
    position: absolute;
}
.carbon-header{
    position: relative;
    color: white;
    text-align: center;
    height: 75vh;
    padding-right: 0;
}
#canvas123 {
    width: 100px;
    height: 100px;
}
#main-title{
color: white;
padding-top: 30vh;
font-size: 12vw;
font-family: Inter, sans-serif;
font-weight: 800;
}
#section2{
    scroll-behavior: smooth;
    background-color: #4F6367;
    font-family: Inter, sans-serif;
    padding-top: 6vh;
}
#down-arrow{
    width: 50px;
    color: white;
}
#buttonScroll{
    position: relative;
}
span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.align-items-center{
  background-color: #2c373abe;
  overflow: hidden;
}
.info{
  text-align: left;
  border-left: black;
  border-left: 5px solid black;
  font-size: 1.25em;
  padding-left: 10px;
  color: #eeefe5;
  grid-area: 2/2;
}
.info-title{
    text-align: right;
    border-left: black;
    font-size: 3em;
    font-weight: 700 !important;
    padding-right: 10px;
    color: #eeefe5;
    grid-area: 2/1;
  }
.info-grid{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    border-radius: 20px;
}
#info-row-1{
    padding-top: 8vh;
    padding: 50px;
    background-color: #2b3335;
    background-clip: content-box;
    border-radius: 70px;
}
#title{
    text-align: center;
    border-left: black;
    font-size: 4em;
    font-weight: 700 !important;
    color: #f7f7f7;
    grid-area: 2/1;
    padding-top: 8vh;
    padding-bottom: 8vh !important;
    padding-bottom: 4vh;
}
h3{
  font-family: Inter, sans-serif;
}
#therm-title{
  text-align: center;
  font-weight: 600;
  color: white;
}
#inform-svg{
  display: block;
  margin: auto;
  max-width: 370px;
}
#inform-container{
  background-color: #2b3335;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}
#inform-col{
  margin-bottom: 5%;
}
.inform-svg-1{
  padding: 30px;
}
#title-row{
  margin-bottom: 2vh;
}
@media (max-width: 800px){
  .info{
    border: hidden;
    grid-area: 2/1;
  }
  .info-grid{
    grid-template-columns: 1fr;
  }
  .info-title{
    grid-area: 1/1;
  }
  #small-1{
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }
  #small-2{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }
  #info-row-1{
    padding-top: 0;
    background-color: transparent;
  }
  #title{
    font-size: 3em;
    background-color: #3a494b;
  }
  #down-arrow{
    width: 80px;
  }
  #col-right{
    margin-right: 0;
  }
  .info-grid{
  }
}

@media (max-width: 975px){
  .info-title{
    font-size: calc(1.325rem + .4vw) !important;
  }
}